@import url(./var.css);

/* .info-im{
  display: flex;
} */
.about-me h1{
  font-size: 1.7em;
  color: #5294d1;
  font-weight: 500;
  opacity: .8;
}
.info-im img{
  width: 150px;
  float: right;
  border-radius: .5em;
  margin-left: 1em;
  margin-bottom: .5em;
}
.description{
  opacity: .8;
  font-size: 1.1rem;
  text-align: left;
}

.description span{
  font-size: 1.7rem;
  text-align: right;
  display: block;
  margin-bottom: 1em;
}

.description b, .description a{ 
  font-weight: 600;
  color: var(--text-color);
}
.description a{
  text-decoration: underline;
}
html[data-theme="dark"] .description b,
html[data-theme="dark"] .description a{
  color: var(--color);
}


/* todo  */




:root {
  --marquee-width: 100%;
  --marquee-height: 60px;
  /* --marquee-elements: 12; defined with JavaScript */
  --marquee-elements-displayed: 4;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

/* @media screen and (max-width:720px){
  :root{
  --marquee-height: 30px;
  }
} */

.slider{
  margin-top: 3em;
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  /* background-color: #111; */
  color:var(--text-color);
  overflow: hidden;
  position: relative;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}
.marquee-content li p{
  font-size: 1.3rem;
}

html[data-theme="dark"] .marquee-content li {
  color: var(--color);
}
 


@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100%;
    --marquee-height: 9vh;
    --marquee-elements-displayed: 3;
  }
}