@import url(../style/var.css);
/* link back home  */
/* page  */
/* media queries  */
/* todo svg baackIcon */
html[data-theme="dark"] .back{
  fill: var(--text-color)
}
.back{
  margin-right: .5em;
  fill:var(--text-color)
}

/* todo  */
.page{
  --time:.28s;
  width: 100%;
  min-width: 250px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  position: relative;

}
.page__photo{
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  clip-path: circle(50% at 50% 50%);
  overflow: hidden;
  z-index:50;
  transition: transform var(--time);
  
}
.photo__circulo{
  height: 85%;
  width: 85%;
  background: var(--text-color);
  display: flex;
  align-items:flex-end;
  justify-content:center;
  clip-path: circle(50% at 50% 50%);
  transition: transform var(--time);

}
.photo__img{
  width: 90%;
  height: 90%;
  transform: rotate(-12deg);
  transition: all .1s;

}

.page__info{
  width: 100%;
  margin-top: -85px;
  padding-top: 110px;
  padding-bottom: 20px;

  background: var(--text-color);
  color: var(--primary);
  border-radius: 1em;
  text-align: center;
  transition: transform var(--time);
  
}
.page__info a{
  
  color: var(--primary);
}

.page__info h1{
  font-size: 1.7em;
  opacity: .7;
  margin: 0em 0em .5em; 
}

h2{
  font-size: 1em;
  opacity: .6;
  color: var(--color);
}
html[data-theme="dark"] h2 {
  opacity: .4;
  color: var(--primary);
}


/* ! PAGE ACTIVE  */  
/* ? cuando entramos a otra pagina  */

.page-active{ 
  width: 100%;
  height: min-content;
  align-items:center;
  margin-top: 60px;
  margin-bottom: -40px;
}

.page-active .page__photo{
  --l:100px;
  width: var(--l);
  height: var(--l);
  transform: translateX(-210%) translateY(0);
  margin: 0;
  z-index: 1;
}

.page-active .page__info{
  display: flex; align-items: center;justify-content: center;
  width: 100%;
  height: 70px;
  margin:0;
  margin-top:2px;
  padding: 0;
  transform: translateY(-125%);

}
.page-active .page__info h1{
  font-size:1.5em;
  margin: 0;
}

/* ? MEDIA QUERIES  */
@media screen and (max-width:530px){
  .toHome{
    text-align: center;
    justify-content: center;
  }
  .page-active{
    transform: translateX(5%);

  }
  .page-active .page__photo{
    transform: translateX(-150%);
  }
  .page-active .page__info{
    width: 80%;
  }
}
@media screen and (max-width:375px){
  .page-active{
    transform: translateX(10%);
  }
  .page-active .page__photo{
    transform: translateX(-120%);
  }
  .page-active .page__info{
    width: 70%;
  }
}