@import url(./var.css);

.card{
  padding: 2em;
  background:var(--text-color);
  margin: 1em 0;
  border-radius: 1em;
  color: var(--primary);
}

.card-img{
  display: flex;
  width: 100%;
  border-radius: .5em;
  overflow: hidden;
  border: 2px solid var(--primary);

}
.card-img img{
  width:100%;
}

.card-desc{
  margin: .5em 0;
}
.card-desc h2{
  opacity: 1;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--text-color);
}
.card-desc p{
  color: var(--primary);
}


