html {
  --background: linear-gradient(180deg, #D9D9D9 0%, #D9D9D9 48.44%, #67B6FF 100%);
  --primary: #D9D9D9;
  --color:#81C2FF;
  --text-color: #282c34;
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
 
  --background: var(--primary);
  --primary: #2D2D2D;
  --text-color: #D9D9D9;
}