h3.home-greating{
  margin: 1em 0;
  opacity: .7;
}
.home-links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}

.home-links a{
  font-weight: 600;
  font-size: 1.1em;
  color: var(--color);
  width: 100%;
  padding:1.5em 1em;
  border-radius: .7em;
  background:var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:720px){
  .home-links a{
    height: 100px;
  }
}
.home-links a:hover{
  transform: scale(1.03);
}

html[data-theme="dark"] .home-links a{
  color: var(--primary);
  background:var(--color);
}